.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

// Chatroom header
.chatroom-header {
  width: 100%;
  min-height: 48px;

  border-bottom: 0.6px solid black;

  display: flex;
  align-items: center;

  i {
    margin-left: 18px;
    font-size: 24px;
    color: rgb(114, 118, 125);
  }

  p {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 700;
  }
}

// Chatroom messages container
.chatroom-message-container {
  width: 100%;
  height: 100%;
  contain: size; // helps fix the issue where the chat log would expand the div
  overflow-y: scroll;
}

// scrollbar tings

// ::-webkit-scrollbar
// {
//   width: 12px;  /* for vertical scrollbars */
//   height: 12px; /* for horizontal scrollbars */
// }

// ::-webkit-scrollbar-track
// {
//   background: rgba(0, 0, 0, 0.1);
// }

// ::-webkit-scrollbar-thumb
// {
//   background: rgba(0, 0, 0, 0.5);
// }