// Parent container for settings dropdown menu
.channels-nav-settings {
  position: relative;
}

.item-dropdown-container {
  // Need to re-apply the font because it is inheriting font from icon
  font-family: 'Open Sans', sans-serif;

  position: absolute;
  top: 1.6em;
  z-index: 2;

  min-width: 80px;
  padding: 8px;
  border-radius: 5px;
  background: #18191C;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px;
    font-size: 13px;

    &:hover {
      border-radius: 3px;
      background: #212326;
    }
  }
}

// Item dropdown invite button
.item-dropdown-invite {
  color: #677BC4;
}

// Item dropdown danger buttons (delete channel)
.item-dropdown-danger {
  color: rgb(243, 70, 71);
}