// Add Server Modal
.add-server-container {
  width: 540px;
  height: 420px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-server-header {
  color: #7289DA;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 35px;
  margin-bottom: 42px;
}

// Add Server Buttons
.add-server-buttons-container {
  display: flex;

  section  {
    box-sizing: border-box;
    width: 218px;
    height: 289px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);

    button {
      cursor: pointer;
    }

    button:hover > .create-button {
      background: #677BC4;
    }

    button:hover > .join-button {
      background: #369368;
    }
  }

  section:first-child {
    margin-right: 22px;
  }
}

.add-server-button-header {
  color: #7289DA;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 17px;
}

.join-header {
  color: #3ca374;
}

.add-server-button-content {
  padding: 0px 20px;
  font-size: 13px;
  color: #99AAB5;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 130px;
}

.add-server-button-fauxbutton {
  color: white;
  font-size: 15px;
  font-weight: 500;
  background: #7289DA;
  margin: auto;
  padding: 13px 16px;
  border-radius: 3px;
  width: 75%;
}

.join-button {
  background: #3ca374;
}


// Create Server Modal
.create-server-title {
  color: #7289DA;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 35px;
  margin-bottom: 12px;
}

.create-server-blurb {
  color: #99AAB5;
  font-weight: 500;
  padding: 0px 48px;
  text-align: center;
  line-height: 1.3;
}

.create-server-input-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
}

.create-server-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 235px;
  margin-right: 40px;
  
  div {
    color: #87909c;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  section {
    color: red;
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 12px;
    display: flex;
    
    p {      
      text-transform: uppercase;
    }

    span {
      font-style: italic;
      font-weight: 400;
    }
  }

  input {
    align-self: stretch;
    border: none;
    font-size: 15px;
    padding: 10px 5px;
    border-bottom: 2px solid #f0f0f0;
  }

  input:focus {
    outline: none;
  }
}

.create-server-preview {
  box-sizing: content-box;
  width: 128px;
  height: 128px;
  border-radius: 128px;
  background: #7289DA;
  border: 5px solid #ebebeb;
  color: white;
  cursor: pointer;
  margin-right: 48px;
  font-size: 44px;
}

.create-server-footer-container {
  margin-top: 80px;
  height: 40%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f6f6f7;
}

.create-server-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  padding-top: 18px;
}

.create-server-back {
  text-transform: uppercase;
  color: #99aab5;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 0px;
  cursor: pointer;
  border-bottom: 3px solid rgba(0,0,0,0);

  &:hover {
    border-bottom: 2px solid #99aab5;
  }
}

.create-server-icon {
  padding-right: 5px;
}

.create-server-button {
  background: #7289DA;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  padding: 12px 26px;
  cursor: pointer;

  &:hover {
    background: #677BC4;
  }
}


// Join Server
.join-server-header {
  color: #3ca374;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 35px;
  margin-bottom: 25px;
}

.join-server-blurb {
  color: #99aab5;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 50px;
}

.join-server-sample-invite {
  color: #7289DA;
  font-size: 14px;
  margin-bottom: 58px;
}

.join-server-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;

  p {
    align-self: flex-start;
    color: #99AAB5;
    font-size: 10px;
    margin-bottom: 0px;
  }

  span {
    color: red;
  }
}

.join-server-input {
  font-size: 15px;
  width: 388px;
  padding-bottom: 10px;
  padding-left: 7px;
  border: none;
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 5px;

  &:focus {
    outline: none;
  }
}

.with-errors {
  color: red;
}


.join-server-footer-container {
  margin-top: 62px;
  height: 40%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f6f6f7;
}

.join-server-button {
  background: #3ca374;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  padding: 12px 26px;
  cursor: pointer;

  &:hover {
    background: #369368;
  }
}