// Channels Main
.channels-container {
  display: flex;
  box-sizing:border-box;
  min-height: 100vh;
}


// Channels Server Nav
.channels-nav-container {
  min-width: 72px;
  background: #202225;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channels-nav-icon {
  width: 48px;
  height: 48px;
  background: #36393F;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: border-radius 0.3s;
}

// Server icon hover
.channels-nav-icon:hover {
  background: #7289DA;
  border-radius: 16px;
  transition: 0.2s;
}

// Home server icon
.icon-me {
  margin-top: 12px;
  margin-bottom: 8px;
}

// Add server icon
.icon-add {
  margin-top: 8px;
  color: #43B581;
  font-size: 35px;
  padding-bottom: 5px;
  cursor: pointer;
}

.icon-add:hover {
  background: #43B581;
  color: white;
  border-radius: 16px;
  transition: 0.2s;
}

// Adding a line between home and servers
.channels-nav-icon-border {
  width: 66%;
  margin: auto;
  border-bottom: 2px solid #2D2F32;
}

ul {
  .channels-nav-icon {
    margin: 8px;
  }
  
  .channels-nav-icon:last-child {
    margin-bottom: 0px;
  }
}


// this is for the tag on hovering servers

// .channels-nav-icon {
//   &:hover span {
//     display: block;
//   }
// }

// .channels-nav-tag-holder {
//   position: absolute;
// }

// // Server tag
// .channels-nav-tag {
//   display: none;
//   position: relative;
//   background: black;
//   text-align: right;
//   padding: 10px;
//   // transform: translateX(70%);
// }



//potentillay adding the side thing to indicate current
// .icon-container {
//   position: relative;
// }

// .side-item {
//   position: absolute;
//   display: none;
//   width: 8px;
//   height: 40px;
//   top: 16px;
//   left: -15px;
//   background: green;
// }



// Channels Side Menu
.channels-menu-container {
  min-width: 240px;
  background: #2F3136;
}


// Channels Main Content
.channels-content-container {
  width: 100%;
  background: #36393F;
}