// Channel form primary container
.channel-form-container {
  width: 440px;
  min-height: 300px;

  display: flex;
  flex-direction: column;

  position: relative;

  box-sizing: border-box;
  padding: 15px;

  background: green;
}

// Channel form inner container holding header and input containers
.channel-form-inner-container{
  padding-bottom: 2.5rem;
}

// Channel form header
.channel-form-header {
  
}

// Channel form input container
.channel-form-input-container {

}

// Channel form footer container
.channel-form-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}