// Menu main container
.menu-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

// Menu header
.menu-header {
  min-height: 48px;
  border-bottom: 0.6px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  cursor: pointer;
  
  .menu-header-title {
    padding-left: 16px;
    font-weight: 700;
    font-size: 15px;
  }
  
  .menu-header-icon {
    padding-right: 19px;
    font-size: 13px;
  }
}

// Menu header dropdown
.menu-header-dropdown {
  position: absolute;
  z-index: 2;

  background: #18191C;
  padding: 8px;
  border-radius: 5px;
  min-width: 85%;

  top: 56.5px;
  margin-left: 10px;

  li {
    padding: 6px 0px;
    padding-left: 6px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      border-radius: 3px;
      background: #212326;
    }
  }
}

// Menu header dropdown invite button
.menu-header-dropdown-invite {
  color: #677BC4;
}

// Menu header dropdown danger buttons (delete, leave server)
.menu-header-dropdown-danger {
  color: rgb(243, 70, 71); // red
}

.menu-header-dropdown-icon-container {
  width: 12%;
  display: flex;
  justify-content: center;
}


// Menu Content
.menu-content {
  height: 100%;
}


// Menu footer
.menu-footer {
  min-height: 53px;
  background: rgb(41, 41, 46);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px;
}

.menu-footer-user-container {
  display: flex;
  align-items: center;
}

.menu-footer-user-icon {
  width: 35px;
  height: 35px;
  background: #36393F;
  border-radius: 32px;
  font-size: 16px;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 5px;

  &:hover {
    opacity: 0.8;
  }
}

.menu-footer-user-info {
  font-size: 13px;
  font-weight: 700;
}

.menu-footer-logout {
  color: white;
  font-size: 14px;
  background: #7289DA;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}