// Servers Main
.servers-container {
  display: flex;
  box-sizing:border-box;
  min-height: 100vh;
}

// Servers Server Nav
.servers-main-nav-container {
  min-width: 72px;
  background: #202225;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Servers Side Menu
.servers-menu-container {
  min-width: 240px;
  background: #2F3136;
}


// Servers Main Content
.servers-content-container {
  width: 100%;
  background: #36393F;
}