// Background 
.session-form-bg {
  height: 100vh;
  display: block;
  position: relative;
}

.session-form-bg::after {
  content: "";
  background: asset_url('session_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


// Sesssion Form Container
.session-form-container {
  background: #36393F;
  box-sizing: border-box;
  max-width: 480px;
  min-width: 300px;
  color: white;
  margin: auto;
  opacity: 0.78;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  transform: translateY(160px);
}


// Session Form Welcome Blurb
.session-welcome {
  padding: 12px;
}

.session-welcome > h1 {
  font-size: 24px;
  padding: 8px;
  padding-bottom: 16px;
  font-weight: 400;
}

.session-welcome > p {
  color: #72767D;
  font-size: 17px;
  padding-bottom: 4px;
}


// Session Form
.session-form {
  display: flex;
  flex-direction: column;
}

.session-form > label, .session-form-button-container {
  padding: 6px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #8E9297;
  font-size: 11px;
  font-weight: 700;
}

.session-form > label:first-child {
  padding-top: 10px;
}

.session-form > label > input {
  align-self: stretch;
  background: #313339;
  border-radius: 3px;
  padding: 10px;
  margin: 12px 2px;
  font-size: 16px;
  color: white;

  &:focus {
    outline: none;
    border: 1px solid #7289DA;
  }
}

.session-input {
  border: 1px solid #040405;
}


// Session Form Errors
.session-input-header-errors {
  display: flex;
  color: #F04747;
}

.session-errors {
  padding-left: 5px;
  font-style: italic;
}

.session-input-errors {
  padding: 10px;
  background: #313339;
  border: 1px solid red;
}

.session-input-errors:focus {
  outline: none;
}

.session-form label > button {
  align-self: stretch;
  border-radius: 3px;
  font-size: 16px;
  padding: 13px;
  color: white;
  cursor: pointer;
}


// Session Form Button and Links
.session-form-button-container {
  display: flex;
  margin: 12px 2px;

  button {
    align-self: stretch;
    border-radius: 3px;
    font-size: 16px;
    padding: 13px;
    color: white;
    cursor: pointer;
  }
}

.session-button {
  background: #7289DA;
  margin: 0px 2px;
  margin-bottom: 8px;

  &:hover {
    background: rgb(105, 126, 202);
  }
}

.session-demo {
  background: #7777DD;
  margin: 10px 2px;
  margin-bottom: 15px;

  &:hover {
    background: rgb(110, 110, 204);
  }
}

.session-link {
  padding-left: 3px;
  display: flex;
}

.session-link > p {
  padding-right: 4px;
}

.session-link > a {
  color: #7289DA;
  text-decoration: none;
}

.session-link > a:hover {
  text-decoration: underline;
}

.no-demo {
  margin-top: 6px;
}