/* Background */
.splash-container {
  height: 100vh;
  display: block;
  position: relative;
}

.splash-container::after {
  content: "";
  background: asset_url('splash_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}



/* Navbar */
.splash-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 80%;
  margin: auto;
  transform: translateY(15px);
}



/* Left Nav */
.left-nav {
  display: flex;
  align-items: center;
}

.splash-navbar-logo {
  display: flex;
  width: 150px;
  margin-right: 1.4vw;

  // -webkit-transition: transform .35s;
  //    -moz-transition: transform .35s;
  //     -ms-transition: transform .35s;
  //      -o-transition: transform .35s;
  //         transition: transform .35s;

  // &:hover {
  //   transform: scaleX(-1);
  // }
}

.left-navlink {
  font-size: 14px;
  margin-right: 1.2vw;
  color: #A8A8AA;

  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
  
  &:hover {
    color: white;
  }
}



/* Right nav */
.right-nav {
  display: flex;
  align-items: center;  
}

// For social icon
.right-navlink {
  display: flex;
  margin-left: 1.3vw;
  color: #A8A8AA;

  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;

  &:hover {
    color: white;
  }
}

.splash-navbar-login {
  margin-left: 1.5vw;

  background: #26262B;
  color: #A8A8AA;

  font-size: 14px;
  border: 2px solid #A8A8AA;
  border-radius: 20px;
  padding: 6px 16px;

  cursor: pointer;

  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;

  &:hover {
    border: 2px solid white;
    color: white;
  }
}




/* Header */

// Header container
.splash-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;

  margin: auto;
  transform: translateY(100px);
  text-align: center;
}

// Header title
.splash-header > h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;
}

// Header blurb
.splash-header > p {
  font-size: 16px;
  color: white;
  line-height: 25px;
  margin-bottom: 28px;
}

// Buttons container
.splash-buttons {
  display: flex;
  justify-content: space-between;
  width: 66%;

  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; } to   { opacity: 1; } } /* Firefox < 16 */
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Safari, Chrome and Opera > 12.1 */
@-ms-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Internet Explorer */
@-o-keyframes fadein { from { opacity: 0; } to { opacity: 1; } } /* Opera < 12.1 */

// Buttons
.splash-buttons {
  button {
    font-size: 15px;
    width: 260px;
    height: 45px;
    border-radius: 4px;
    cursor: pointer;

    -webkit-transition: transform .35s;
       -moz-transition: transform .35s;
        -ms-transition: transform .35s;
         -o-transition: transform .35s;
            transition: transform .35s;

    &:hover {
      transform: translateY(2px);
    }
  }
}

// White button
.splash-button-white {
  background: white;
  color: black;
}

// Blue button
.splash-button-blue {
  background: #7289DA;
  color: white;
}