/* Navbar */

.splash-navbar {
  display: flex;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 12px;
  justify-content: space-between;
  align-items: center;
}

.splash-navbar-logo {
  max-width: 120px;
  max-height: 120px;
}

.splash-navbar-login {
  background: #26262B;
  color: #949496;
  border: 2px solid #949496;
  border-radius: 20px;
  padding: 8px 20px;
}

/* Header */

.splash-header {
  display: flex;
  flex-direction: column;
  max-width: 760px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.splash-header > h1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.splash-header > p {
  font-size: 16px;
  color: #949496;
  line-height: 22px;
}

.splash-header * {
  margin: 10px;
}

.splash-buttons button {
  margin: 10px;
  font-size: 15px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
}

.splash-button-white {
  background: white;
}

.splash-button-blue {
  background: #7289DA;
  color: white;
}